{
    "singleQuote": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "bracketSpacing": false,
    "printWidth": 100,
    "overrides": [
        {
            "files": ".prettierrc",
            "options": { "parser": "json" }
        }
    ]
}
