@import "../../css/colors.css";

.spinner {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: $ui-white-transparent;
    box-sizing: content-box;
}

.spinner::before, .spinner::after {
    width: 24px;
    height: 24px;
    content: '';
    border-radius: 50%;
    display: block;
}

.spinner::after {
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid transparent;
    border-top-color: $ui-white;
    animation: spin 1.5s cubic-bezier(0.4, 0.1, 0.4, 1) infinite;
}

.small {
    width: 8px;
    height: 8px;
}

.small::before, .small::after {
    width: 8px;
    height: 8px;
}

.large {
    width: 40px;
    height: 40px;
}

.large::before, .large::after {
    width: 40px;
    height: 40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner.success {
    border-color: $extensions-transparent;
}

.spinner.success::after {
    border-top-color: $extensions-primary;
}

.spinner.warn {
    border-color: $error-transparent;
}

.spinner.warn::after {
    border-top-color: $error-primary;
}

.spinner.info {
    border-color: $ui-white-transparent;
}
.spinner.info::after {
    border-top-color: $ui-white;
}

.spinner.primary {
    border-color: $motion-transparent;
}
.spinner.primary::after {
    border-top-color: $motion-primary;
}
